/* Apply styles to all modals */
.modal {
  font-size: 1.1em;  /* Larger font size */
}

.modal-header {
  background-color: #f2f2f2;  /* Light gray header */
  padding: 10px;  /* Additional padding */
}

.modal-body {
  background-color: white;  /* White body */
  padding: 10px;  /* Consistent padding */
}

.modal-footer {
  background-color: #f2f2f2;  /* Light gray footer */
}

.modal-dialog {
  border-radius: 10px;  /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  /* Soft shadow */
}



.nav-tabs {font-size: 1.1em;} 

.navbar .navbar-nav {font-size: 1.15em;} 

